@font-face {

    font-family: 'Shabnam FD';

    src: url('../fonts/shabnam/Shabnam-FD.eot');

    src: local('Shabnam FD'), url('../fonts/shabnam/Shabnam-FD.woff') format('woff'), url('../fonts/shabnam/Shabnam-FD.ttf') format('truetype');

    font-weight: normal;

    font-style:normal;

}
body{
    font-family: 'Shabnam FD',Tahoma;!important;
}

